@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

h2 {
    font-family: "Manrope", sans-seri;
    
} 
/* ----------------- Class CSS ----------------- */

.about{
    width:400px;
    margin: auto;
}

.about-team{
    color:rgb(255, 255, 255)
}

.authors{
    background-color: transparent;  
}

.body{
    background-color: transparent;
}

.footer{
    background-color: rgba(54, 32, 35, 0.7);
    padding: 0.5rem 1rem; 
    border-radius: 20px;  
    max-width: 95%;       
    margin: 20px auto; 
}


.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.nb-background-color{   /* navbar background color */
    background-color: rgba(54, 32, 35, 0.4);
}

body::-webkit-scrollbar {
    display: none;
  }

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background: transparent;
}

.abstract {
    color:#e1e3e5;
}
@keyframes gradient-shift {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 75% 0%;
    }
    50% {
        background-position: 50% 50%;
    }
    75% {
        background-position: 0% 75%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.gradient-container {
    background: linear-gradient(0deg, #81232fd8, rgba(115, 55, 55, 0) 70.71%),
                linear-gradient(120deg, #ab026dcd, rgba(255, 0, 149, 0) 70.71%),
                linear-gradient(240deg, #0000ffb4, rgba(0, 0, 255, 0) 70.71%);
    min-height: 100vh;
    background-size: 200% 200%;
    animation: gradient-shift 10s ease infinite;
}

.ovPadLeft{
    padding-left: 2 0px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: transparent;
    padding: 1px;
}

.showcase{
    background-color: transparent; /*#0096c7*/
}
.navbar {
    padding: 0.5rem 1rem; 
    border-radius: 20px;  
    max-width: 90%;       
    margin: 20px auto;    
}
 
.navbar-brand img {
    max-height: 100px; 
}

.sticky-header {
    position: sticky;
    top: 20px; 
    scroll-margin-top: 20px;
  }

/* ----------------- ID CSS ----------------- */

#chart-wrapper {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px; /* Set a maximum width */
}

.chartjs-sample {
    padding: 10px;
}

.chart-title {
    font-size: 24px;
}

@media (max-width: 1024px) {
    .chart-title {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .chart-title {
        font-size: 16px;
    }
}


/* -----------------Underline Animation CSS -----------------*/

.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}